*{
  font-family: 'Trebuchet MS',  Arial, sans-serif;
color: rgb(75, 63, 63);
}


body {
  background: linear-gradient(120deg,rgb(246,211,101),
  rgb(253,160,133));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container{
  width: 450px;
  background-color: rgb(255,255,255);
  border-radius:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
  box-shadow: rgba(9,30,66,0.25) 0 4px 8px -2px,
  rgba(9,30,66,0.08) 0 0 0 1px;
}

form{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form .input-container{
  margin: 7px 0;
  width: 400px;
}
form label{
  display: flex;
  flex-direction: column;
  text-align: left;
}

form input{
  border:none ;
  font-size: 18px;
  border-radius: 5px;
  margin: 5px 0;
  padding:11px;
  box-shadow: inset rgba(9,30,66,0.25) 0 4px 8px -2px,
  inset rgba(9,30,66,0.08) 0 0 0 1px;
}

form input[type=submit]{
  width: 400px;
  background-color: rgb(97,97,146);
  color: rgb(255,255,255);
}

form input[type=submit]:active{
  background-color: rgb(73,73,119);
}


form input[type=month]{
  width:240px ;
}

form input#cvv {
  width: 100px;
}

form .supporting-inputs-container{
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin: 7px 0;
}
 
form .info-message{
  width: 100%;
  border-top: solid 1px rgb((197,197,197));
  padding-top: 10px;
  text-align: center;
}

.credit-card{
  width: 430px;
  height: 270px;
  border-radius: 10px;
  position: relative;
  background-color: blue;
  bottom:30px;
}

.credit-card .card{
  width: 100%;
  height: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.credit-card .card-details-container{
  padding: 25px;
  width: 360px;
}
.credit-card .detail-container{
  height: 55px;
}

.credit-card .number-display{
background-color: rgb(255,255,255),0.5;
width: 360px;
height: 60px;
font-size: 25px;
display: flex;
justify-content: center;
align-items: center;
}

.credit-card h2, .credit-card p{
  color: rgb(255,255,255);
  margin: 5px;
}


